:root {
  --white: #F1F1F1;
  --white-transparent: hsla(0, 0%, 95%, 0.5);
  --white-transparent-2: hsla(0, 0%, 95%, 0.25);
  --black: #0D0D0D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: var(--black);
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
}

tr:nth-child(3n):not(:last-child) td {
  border-bottom: 1px solid var(--white-transparent);
}

td:nth-child(3n):not(:last-child) {
  border-right: 1px solid var(--white-transparent);
}

.solve-button {
  cursor: pointer;
  font-size: 2rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.pre-filled {
  background-color: var(--white-transparent-2);
}

td,
#timer,
#numbers {
  font-family: "Chivo Mono", monospace;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}